.skills {
  padding-top: 28px !important;
  padding-bottom: 28px !important;

  &__container {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.skill {
  border: 1px solid white;
}