.about {
  padding-top: 28px !important;
  padding-bottom: 28px !important;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    max-width: 510px;
  }
}