.hero {
  margin-top: auto;

  &__container {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
  }
}

.quote {
  margin-top: auto;

  &__container {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}