.footer {
    margin-top: auto;
}

.footer__container {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    display: flex;
    flex-direction: column;
}