body {
    margin: 0;
    font-weight: 400;
    background-color: #0D1117;
    color: #EBEBEB;
}

.container {
    max-width: 1024px;
    background-color: #1D2533;
    margin: 0 auto;
    padding: 0 15px;
}